@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model ProyectoFinal.Models.Paciente;
@using System.Security.Claims;


<body class="theme-teal">
    <aside id="leftsidebar" class="sidebar">
        <!-- User Info -->
        <div class="user-info">
            <div class="image">
                <img src="~/img/user.png" width="60" height="60" alt="User">
            </div>
            <div class="info-container">
                <div class="name" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Paciente<br>
                    @User.Claims.Where(c => c.Type == ClaimTypes.Name).Select(c => c.Value).SingleOrDefault()
                </div>
                <div class="email"></div>
                <div class="btn-group user-helper-dropdown">
                    <i class="material-icons" data-toggle="dropdown" aria-haspopup="true"
                       aria-expanded="true">keyboard_arrow_down</i>
                    <ul class="dropdown-menu pull-right">
                        <li>
                            <a asp-area="" asp-controller="Home" asp-action="Salir" class="waves-effect waves-block">
                                <i class="material-icons">input</i>Desconectar
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- #User Info -->
        <!-- Menu -->
        <div class="menu">
            <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 513px;">
                <ul class="list" style="overflow: hidden; width: auto; height: 513px;">
                    <li class="header">NAVEGACIÓN PRINCIPAL</li>
                    <li class="active">
                        <a href="@Url.Action("Dashboard", "Paciente")" class="toggled waves-effect waves-block">
                            <i class="material-icons">dashboard</i>
                            <span>Dashboard</span>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("Dashboard", "Paciente")" class=" waves-effect waves-block">
                            <i class="material-icons">receipt_long</i>
                            <span>Obtener Resultado</span>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("Dashboard", "Paciente")" class=" waves-effect waves-block">
                            <i class="material-icons">attach_money</i>
                            <span>Realizar Pagos</span>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("CambiarClave", "Paciente", new { id = User.Claims.Where(c => c.Type == ClaimTypes.Name).Select(c => c.Value).SingleOrDefault() })" class="waves-effect waves-block">
                            <i class="material-icons">vpn_key</i>
                            <span>Cambiar Clave</span>
                        </a>
                    </li>
                </ul>
                <div class="slimScrollBar"
                     style="background: rgba(0, 0, 0, 0.5); width: 4px; position: absolute; top: 0px; opacity: 0.4; display: none; border-radius: 0px; z-index: 99; right: 1px; height: 513px;">
                </div>
                <div class="slimScrollRail"
                     style="width: 4px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 0px; background: rgb(51, 51, 51); opacity: 0.2; z-index: 90; right: 1px;">
                </div>
            </div>
        </div>

    </aside>
    <section class="content">
        <div id="inventory" class="container-fluid">
            <h2>Cambiar Clave</h2>
            <form asp-controller="Paciente" asp-action="CambiarClave" method="post">
                <input asp-for="idPaciente" type="hidden" />
                <div class="mb-3">
                    <label>Contraseña</label>
                    <input id="passwordInput" class="form-control" asp-for="contraseña" type="text" required />
                </div>

                <div class="mb-3">
                    <button class="btn btn-primary" type="submit">Guardar</button>
                    <a asp-controller="Paciente" asp-action="Dashboard" class="btn btn-warning">Volver</a>
                </div>
            </form>
        </div>
        </div>
    </section>
</body>

